<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Criar Usuário Django API</title>
  <link rel="stylesheet" href="/templates/css/style.css">
</head>
<body>
  <div class="login-container">
    <form id="login-form">
      <h2>Criar um novo Usuario</h2>
      <input type="text" id="username" placeholder="Usuário" required>
      <input type="password" id="password" placeholder="Senha" required>
      <button type="submit">Criar</button>
    </form>
  </div>
  <script src="/templates/js/criar_usuario.js"></script>
</body>
</html>
