<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Calculadora Django API</title>
  <link rel="stylesheet" href="/templates/css/style.css">
</head>
<body>
  <div class="login-container">
    <form id="login-form">
      <h2>Login</h2>
      <input type="text" id="username" placeholder="Usuário" required>
      <input type="password" id="password" placeholder="Senha" required>
      <button type="submit">Entrar</button>

       <button id="btn-criar-usuario" type="button" style="margin-top: 10px;">
      Criar Usuário
    </button>
  </div>
    </form>
   



  <script src="/templates/js/login.js"></script>
</body>
</html>
